@font-face {
  font-family: 'PPObjectSans';
  src: url('./fonts/PPObjectSans-Regular.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PPObjectSans';
  src: url('./fonts/PPObjectSans-Heavy.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-purple: #A370E3;
    --color-yellow: #FFCC60;
    --color-brown: #5C4B4B;
    --color-dark: #1E1E1E;
  }
}

@layer components {}

@layer utilities {
  .accent-purple {
    color: var(--color-purple);
  }

  .accent-brown {
    color: var(--color-brown);
  }

  .accent-yellow {
    color: var(--color-yellow);
  }
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-gutter: stable;
}

body {
  overflow-y: scroll;
}